@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikia.com") {
  #WikiaBar,
  .wikia-ad,
  #WikiaTopAds, 
  #WikiaFooter,
  #WikiaNotifications,
  #WikiaRail>:nth-child(2),
  #WikiaArticleFooter>:nth-child(1),
  #RECIRCULATION_RAIL,
  #TOP_LEADERBOARD_AB, 
  .recirculation-horizontal, 
  .recirculation-footer,
  .global-footer
   {
    display: none;
  }
  
  /* Don't let header scroll with the page */
  #globalNavigation {
    position: inherit;
    display: inline;
  }
  

}