@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikia.com") {
  #WikiaBar,
  .wikia-ad,
  #WikiaTopAds, 
  #WikiaFooter,
  #WikiaNotifications,
  #WikiaRail>:nth-child(2),
  #WikiaArticleFooter>:nth-child(1),
  #TOP_LEADERBOARD_AB, 
  .recirculation-horizontal, 
  .recirculation-footer,
  .global-footer
   {
    display: none;
  }
  
  /* Hide most of the global navigation */
  #globalNavigation {
    background-color:transparent;
    box-shadow: none;
    border: none;
    height: 0;
  }
  
  #globalNavigation .global-navigation-container {
    height: 0;
    display: block;
  }
  
  #globalNavigation .global-navigation-container>*  {
    display:none;
  }
  
  /* Show the search bar on the right */
  #globalNavigation .global-navigation-container .search-container {
    width: 300px;
    float: right;
    display: table-cell;
    opacity: 1.0;
  }
}